.container {
  position: absolute;
  top: 5%;
  left: 50%; 
  transform: translateX(-50%);
  text-align: center;
  display: inline-block;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.ace_editor
{
  position: absolute;
  display: block;
  /* top: 30%; */
}
